[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
ipython = "*"
django = "<5,>=4.1"
model-bakery = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.12"
