[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
model-bakery = "*"

[dev-packages]
django-extensions = "*"
ipython = "*"
black = "*"

[requires]
python_version = "3.11"
